page-home {
    .gloveImgContainer{
        background-color: #00b4ff;
        width: 100%;
        padding: 5px;
        color: white;
        font-size: 15px;
    }
    .gloveImg{
        width: 50%;
        max-width: 300px;
        padding: 5px;
    }

    .greenClass { 
        color: #32db64; 
    }
    .redClass {
        color: red
     }
}
