page-convertor {
    .gloveImgContainer{
        background-color: #00b4ff;
        width: 100%;
        padding: 5px;
        color: white;
        font-size: 12px;
    }
    .gloveImg{
        width: 25%;
        max-width: 300px;
        padding-top: 5px;
      
    }

    .textAreaMsgFromGlove{
        border: 1px solid #ededed;
        font-size: 15px;
    }


    .greenClass { 
        color: #32db64; 
    }
    .redClass {
        color: red
     }
     

}
